@use "../variables" as *;
@use "../mixins" as *;

.dashboard {
    padding: 2rem;

    &__title {
        font-size: $font-large;
        color: $primary-color;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__warehouses {
        @include flex-center;
        flex-wrap: wrap;
        gap: 1rem;

        .warehouse{
            background-color: $secondary-color;
            color: #fff;
            padding: 1rem;
            border-radius: .5rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            &__name {
                font-weight: bold;
            }

            &__status {
                font-size: $font-small;
                color: $error-color;
            }
        }
    }
}

